{% load static %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0px; background-color: #5AC8FA;">

  <div class="container-fluid">
      <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="{% url 'catalog:product_list' %}" style="color: #ffffff">Draw For The Dogs</a>
  </div>

  </div>
</nav>